.nav {
    grid-area: n;
    background: rgb(117, 0, 212);
    padding: 20px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friendsList {
    margin-top: 20px;
}