.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    padding: 10px;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}

.active {
    color: aqua;
}

a {
    text-decoration: none;
}
